<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
    <script
      defer
      src="{{url_for('static', filename='scripts/index.js')}}"
    ></script>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Draw Number</h1>
    <canvas id="canvas" width="500" height="500"></canvas>
    <button type="button" onclick="saveImage();">제출</button>
  </body>
</html>
